.hero{
  position: relative;
  color: var(--neutral-90);
  padding-block: 130px 60px;
  overflow: hidden;
  isolation: isolate;
}
.hero-title{ color: var(--neutral-100);}
.hero-text{ 
  margin-block: 16px 32px; 
  margin-inline: auto;
  line-height: 30px;
  font-size: 24px;
}
.search-bar{
  background: var(--white);
  display: grid;
  padding: 12px;
  gap: 10px;
  border-radius: 16px;
  box-shadow: var(--shadow-4);
}
.search-item{
  color: var(--neutral-50);
}
.search-item .search-item-field{
  height: 70px;
  color: var(--neutral-90);
  padding: 6px 12px;
  margin-block: 12px;
  background-color: var(--primary-40);
  border-radius: var(--radius-medium);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  cursor: pointer;
} 
.search-item .search-item-field::placeholder{
  color: var(--neutral-90);
}
.search-item .hero-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-40);
}
.search-btn{
  background-color: var(--primary-40);
  color: var(--neutral-100);
  height: 60px;
  padding-inline: 24px;
  border-radius: 12px;
  font-size: 20px;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}
.bg-pattern{
  background-image: linear-gradient(0deg, #000000a1, #0000004d), url("../images/Real\ estate\ \(3\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
@media(min-width: 768px){
  .hero{padding-block: 150px;}
  .search-bar{
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
  }
  .search-btn{
    margin-block-start: 20px;
    height: 60%;
  }
}
@media(min-width: 992px){
  .hero-content h1{
    max-width: 18ch;
  }
  .hero{
    padding-block: 150px;
  }
}
@media (min-width: 1440px){
  .hero{
    padding-block: 200px;
  }
  .hero .hero-content{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .search-bar{
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 40px;
  }
  .search-btn{
    height: 100%;
    padding-block: 10px;
  }
}